<app-header></app-header>


<h2>drag and drop box</h2>
<div class="example-box" cdkDrag>Drag me around</div>


<h2>datepicker</h2>
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker" />
  <mat-datepicker-toggle matSuffix [for]="picker">
    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
  </mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<br />
<button (click)="counter('minus')">--</button>
<br />
<p>count :{{ count }}</p>
<button (click)="counter('add')">++</button>
<app-dialog></app-dialog>
<h2>for loop</h2>
<ul *ngFor="let user of users">
  <li>{{ user.name }}--{{ user.phone }}</li>
  <!-- <li>{{user.phone}}</li> -->
</ul>
<div>
  <h2>form get and post</h2>
  <form #basixForm="ngForm" (ngSubmit)="getData(basixForm.value)">
    <input type="text" ngModel name="user" placeholder="enter your name" /><br>
    <input type="text" ngModel name="email" placeholder="enter your email" /><br>
    <input type="password" ngModel name="password" placeholder="enter your password" /><br>
    <button>Register</button>
  </form>
</div>
<br>
<ul>
  <li>{{userData.user}}</li>
  <li>{{userData.email}}</li>
  <li>{{userData.password}}</li>
</ul>
<!-- toggle element -->
<button (click)="toggle()">toggle</button>
<h1 *ngIf="displya">headding toggle
<p style="background-color: red;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio eligendi odit quam laborum amet? Ipsa qui, quis quae doloremque iusto accusantium eius nobis dicta id. Dicta possimus molestias harum vitae?</p>

</h1>
